div {
  box-sizing: border-box;
}

.MergersLayout {
  background-color: white;
  color: #455a64;
  font-family: 'Roboto';
  padding: 1vw;
  font-size: 2vw;
}

.Rack {
  display: flex;
  justify-content: center;
  width: 100%;
}

.Rack .InRackWrapper {
  height: 6vw;
  width: 6vw;
  margin: 0.5vw;
}

.Players {
  display: flex;
  align-items: center;
}

.Players .Player {
  margin-left: 1vw;
  border: 4px solid transparent;
  border-radius: 0.25vw;
  padding: 0.5vw;
}

.Players .Player.CurrentTurn {
  border-color: black; /* material red 700 */
}

.Actions {
  display: flex;
  align-items: center;
}

.PlayerStocks {
  display: flex;
  align-items: center;
}

.PlayerStock {
  display: flex;
  align-items: flex-end;
  margin: 0.75vw;
}

.PlayerStock.HiddenStock {
  /* hide so height is maintained but width shrinks to 0 */
  visibility: hidden;
  width: 0;
  margin: 0;
}

.PlayerStock .Hotel.PlayerStockLabel {
  height: 3vw;
  width: 2vw;
  margin: 0.5vw;
  font-size: 1.5vw;
}

.Board {
  display: flex;
  align-items: center;
  justify-content: center;

  /* aspect ratio */
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-top: 75%;
  position: relative;
  margin: 0.5vw 0;
}

table {
  table-layout: fixed;

  /* aspect ratio */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.Board .HotelRow {
  height: 10%;
}

.Label {
  line-height: 100%;
  text-align: center;
  box-sizing: border-box;
  font-size: 1.5vw;
  color: #455a64;
}

.Hotel {
  height: 100%;
  width: 100%;
  border-radius: 0.25vw;
  text-align: center;
  cursor: default;
  box-sizing: border-box;
  border: 0.25vw solid transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Hotel .LabelContainer {
  font-size: 3vw;
}

.Hotel.Empty {
  background-color: #e0e0e0; /* material gray 300 */
  color: black;
}

.Hotel.InRack {
  background-color: #ffecb3; /* material amber 100 */
  color: black;
  cursor: pointer;
}

.Hotel.InRack.Hover {
  border-color: #455a64;
}

.Hotel.Unclaimed {
  background-color: #455a64; /* material blue-gray 700 */
  color: white;
}

.Hotel.Tower {
  background-color: #fbc02d; /* material yellow 700 */
  color: white;
}

.Hotel.Luxor {
  background-color: #d32f2f; /* material red 700 */
  color: white;
}

.Hotel.Festival {
  background-color: #2e7d32; /* material green 800 */
  color: white;
}

.Hotel.American {
  background-color: #1565c0; /* material blue 800 */
  color: white;
}

.Hotel.Worldwide {
  background-color: #6d4c41; /* material brown 600 */
  color: white;
}

.Hotel.Continental {
  background-color: #00838f; /* material teal 800 */
  color: white;
}

.Hotel.Imperial {
  background-color: #c2185b; /* material pink 700 */
  color: white;
}
